.app_header {
  background-color: var(--color-black);
}

.app_header-h1 {
  font-family: var(--font-base);
  color: var(--color-golden);
  background-color: red;
}

.app_wrapper_img {
  color: white;
}
